body {
    margin: 0;
    padding: 0;
    background: #324A65 url(img/164154003-city-wallpapers.jpg);
    width: 1200px;
}
.wrapper {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
input {
    margin-right: 10px;
    background: #2F7DB1;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 100px;
}
button {
    margin-top: 25px;
    font-size: 24px;
    padding: 8px 14px;
    border-radius: 29px;
    outline: none;
    border: none;
}
.preloading {
    display: none;
    text-align: center;
    margin-top: 15px;

}